/*Mobile Phone Size*/
@media screen and (min-width: 400px){

	html{
		scroll-behavior: smooth;
	}

	body{
		font-size: 20px;
		text-align: center;
		background-color:#223C33;
		font-family: 'Roboto', 'Arial', sans-serif;
	}

	/* Navigation */
	nav{
		color: #FFFFFF;
		text-decoration: underline;
		background-color: #d3d3d3;
	}

	/* Navigation Hover */
	nav a:hover{
		font-weight: bolder;
		text-transform: uppercase;
		text-decoration: line-through;
	}

	/* Navigation List Items */
	nav li{
		padding: 10px 19px 8px 6px;
	}

	/* Header */
	header{
		text-align: center;
		background-color: #2448AA;
	}

	/* Header Hover Effect */
	header a:hover{
		text-align: left;
		color: #ff0000;
		background-color: #FFFFFF;
	}

	/* Focus Elements */
	*:focus{
		border: 2px solid #ff0000;
	}

	/* Headers */
	h1{
		color: #FFFFFF;
		font-weight: bold;
		font-size: 25px;
		padding-top: 20px;
		padding-bottom: 15px;
		font-family: Helvetica, 'Arial', sans-serif;
		text-shadow: 1px 1px 2px #FFFFFF, 0 0 25px #000000;
	}

	h2{
		color: #FFFFFF;
		font-weight: bold;
		font-size: 25px;
		padding-top: 20px;
		padding-bottom: 15px;
		font-family: Helvetica, 'Arial', sans-serif;
		text-shadow: 1px 1px 2px #FFFFFF, 0 0 25px #000000;
	}

	h3{
		color: black;
		font-weight: bold;
		font-size: 25px;
		padding-top: 20px;
		padding-bottom: 15px;
		font-family: Helvetica, 'Arial', sans-serif;
		text-shadow: 1px 1px 2px #FFFFFF, 0 0 25px #000000;
	}

	/* Header Hover Effects */
	h1:hover, h2:hover, h3:hover{
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}

	/* Summary Paragraph */
	.summary{
		color: #FFFFFF;
		padding: 30px;
	}

	/* Team Results */
	#team-results{
		font-size: 30px;
		padding-left: 60px;
		padding-bottom: 30px;
		background-color: #d3d3d3;
	}

	/* Athlete Images */
	img{
		padding-bottom: 20px;
		display: block; 
		margin-left: auto; 
		margin-right: auto; 
		width: 25%; 
	}

	/* Dictionary List */
	dl{
		padding-bottom: 20px;
		color: #FFFFFF; 
	}

	/* Footer */
	footer{
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #85C2C9;
	}

	/* Table */ 
	table { 
		border-collapse: separate; 
		text-indent: initial; 
		border-spacing: 2px; 
		margin-left: auto; 
		margin-right: auto; 
	}

	figure { 
		text-align: center; 
		color: #FFFFFF; 
	}

	p{ 
		color: #FFFFFF; 
	}
	

@media screen and (prefers-reduced-motion: reduce){
	
	html{
		scroll-behavior: auto; 
	}

	nav a:hover, header a:hover, h1:hover, h2:hover, h3:hover{
		transition: none;
		text-transform: none;
	}
}
}
